.hero-section {
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Hero-Desktop-M365-Icon-Bounce-Premium?&resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3840&hei=2160&qlt=95&fit=constrain&dpr=on,2");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-items {
  width: 50%;
  padding: 30rem 25rem;
}

.hero-text {
  font-size: 1.8rem;
  font-weight: lighter;
  columns: #dbd7d7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  letter-spacing: 1.1px;
  max-width: 100%;
}

.btn-sm {
  padding: 2rem 3rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #b9b6b6;
  background: #0f70d1;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn-sm:hover {
  opacity: 0.9;
}
