.cards-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.service-card {
  border: 1px solid gray;
  min-height: 400px;
  border-radius: 1.6rem;
  padding: 2.4rem;
  background: #000000;
}

.card-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: white;
}

.card-text {
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 1.6rem;
}

.card-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.card-pic {
  width: 100%;
  background-size: cover;
}
